---
import QuoteWrapper from './QuoteWrapper.astro';

const loaders = [
  { title: "Cached Quote", type: "TTL" },
  { title: "Cached Quote", type: "SWR" },
  { title: "Cached Quote", type: "TTL + SWR" },
  { title: "Quote", type: "No caching" },
];
---

<div class="quotes-loading">
  {loaders.map(loader => (
    <QuoteWrapper title={loader.title} type={loader.type}>
      <div class="loader"></div>
    </QuoteWrapper>
  ))}
</div>

<style>
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 24px;
  color: #0070f3;
}
</style>