nav {
  display: flex;
  padding: 2rem;
  align-items: center;
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #000;
  display: inline-block;
}

.left {
  color: gray;
}

a+a {
  margin-left: 1rem;
}

.right {
  margin-left: auto;
}

.right a {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}