DATABASE_URL=""
PULSE_API_KEY=""
TYPESENSE_ADMIN_API_KEY=""
# Typesense URL should look like `https://xxx.typesense.net` (if you're using Typesense Cloud) or your self-hosted Typesense URL
TYPESENSE_URL=""
